@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{

   font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.shiny-text {
  -webkit-animation: shine 2s linear infinite alternate;
  animation: shine 2s linear infinite alternate;
  border-style: none;
  color: #ededed;
  font-weight: 500;
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  outline: none;
  text-decoration: none;
}

@keyframes shine {
  0% {
    -webkit-mask-position: 150%;
  }
  100% {
    -webkit-mask-position: -50%;
  }
}

.grid-bg {
  background-image: url("https://d19172n4opxkkj.cloudfront.net/k70M5W/grid-pattern-d2mZnt-mOv.png");
  @apply h-screen bg-center bg-cover w-full opacity-30;
}

.font-gradient {
  background: linear-gradient(
    to right bottom,
    #fff 30%,
    hsla(0, 0%, 100%, 0.5)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: unset;
}

.content p a {
  color: #f35815;
}

.content p a:hover {
  text-decoration: underline;
}
