---
import {Icon} from "astro-icon"
---


<div class="flex flex-col items-center mt-14">
    <h1 class="text-7xl font-bold text-center w-[65%]">Really simple file uploads for web apps.</h1>
<p class="my-10 w-[70%] text-center text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore doloremque sequi eveniet quo eligendi voluptates est fugit, distinctio impedit odit?</p>
<a href="https://app.uploadfly.cloud/login" class="bg-uf-accent text-uf-light font-semibold py-4 px-16 rounded-md text-xl">Get Started</a>
</div>