<div class="flex items-center justify-between py-6 px-10">
    <a href="">
        <img src="/logo.svg" alt="Logo" class="w-14">
    </a>
<div class=""></div>
<div class="flex items-center gap-4">
    <a href="https://github.com/uploadfly" target="_blank">
    Login
    </a>
    <a href="https://app.uploadfly.cloud/request" target="_blank" class="bg-uf-accent px-3 py-2 rounded-md font-semibold">Get started</a>
</div>
</div>